body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif
}
/*Beginning of the header*/
.header {
    background-color: #1F2937;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    height: 100%;
}
/*Left header things*/
.left-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding-left: 100px;
}

.left-content {
    margin-top: 100px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.sub-title {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 10px;
}

/* Right Header things */
.right-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 3;
    padding-right: 100px;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    align-self: flex-end;
    gap: 8px;
}

.image {
    background-color: gray;
    min-width: 100px;
    min-height: 75px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Section 2 */
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info {
    padding: 16px;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.boxes-text {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}
.box {
    width: 150px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box {
    width: 150px;
    height: 150px;
    border: solid #3882F6 3px;
    border-radius: 10px;
}

.blue-text {
    align-self: center;
    text-align: center;
}