body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/*Beginning of the header*/
.section1 {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 100px 100px 100px;
    max-width: 1500px;
    gap: 60px;

}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
    gap: 16px;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 500px;
}
.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.sub-title {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 10px;
    border: solid #3882F6 3px;
}


.image {
    background-color: gray;
    min-width: 450px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
}
/* Section 2 */
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info {
    margin: 30px;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.boxes-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
    margin-top: 0;
}
.box {
    width: 150px;
    margin: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.blue-box {
    width: 150px;
    height: 150px;
    border: solid #3882F6 3px;
    border-radius: 10px;
}

.blue-text {
    align-self: center;
    text-align: center;
}

/* Section 3 */
.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 100px;
    max-width: 1000px;
}
.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;

}
.quote-attribution {
    font-weight: 700;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 10px;
}

/* Section 4 */
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    max-width: 2000px;
    padding: 30px 75px;
    margin: 100px 100px;
    border-radius: 10px;
    
}
.left-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text1 {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;

}
.text2 {
    font-size: 18px;
    color: #E5E7EB;
}
.right-call button {
    border: solid #F9FAF8 3px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
    margin: 0;
}