body {
    display: flex;
    flex-direction: column;
}
/*Beginning of the header*/
.header {
    background-color: #1F2937;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    height: 100%;
}
/*Left header things*/
.left-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding-left: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.sub-title {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

/* Right Header things */
.right-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 3;
    padding-right: 100px;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    align-self: flex-end;
    gap: 8px;
}

.image {
    background-color: gray;
    min-width: 100px;
    min-height: 75px;
}